In [ ]:
#1.Write a Python Program to Find the Factorial of a Number?
def factorial(n):
  if n==1:
    return 1
  else:
    return (n*factorial(n-1))  
  return fact
factorial(4)

24

In [ ]:
#2.Write a Python Program to Display the multiplication Table?
def multable(n,x):
  for i in range(x):
    print(n,"X",i,"=" ,n*i)
multable(9,21)

9 X 0 = 0
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
9 X 13 = 117
9 X 14 = 126
9 X 15 = 135
9 X 16 = 144
9 X 17 = 153
9 X 18 = 162
9 X 19 = 171
9 X 20 = 180

In [29]:
#3.Write a Python Program to Print the Fibonacci sequence?
def fibn(n):
  a=0
  b=1
  if n==1:
    print(a)
  else:
    print(a , end=" ")
    print(b , end =" ")
    for i in range(2,n):
      c=a+b
      a=b
      b=c
      print(c, end= " ") 
fibn(10)

0 1 1 2 3 5 8 13 21 34

In [17]:
#4.Write a Python Program to Check Armstrong Number?
def Armstrong(num):
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum=sum+digit**3
    temp=temp//10
  if num==sum:
    print(num,"is an Armstrong number")
  else:
    print(num,"is not an Armstrong number")

Armstrong(407)

407 is an Armstrong number

In [22]:
#5.Write a Python Program to Find Armstrong Number in an Interval?
def Armstrong(a,b):
  for i in range(a,b+1):
    order=len(str(i))#order of the number
    sum=0 # Initilize sum
    temp=i
    while temp>0:
      digit=temp%10
      sum=sum+digit**order
      temp=temp//10
    if sum==i:
      print(i,"is an Armstrong number")
    #else:
      #print(i,"is not an Armstrong number")
Armstrong(1,10000)

1 is an Armstrong number
2 is an Armstrong number
3 is an Armstrong number
4 is an Armstrong number
5 is an Armstrong number
6 is an Armstrong number
7 is an Armstrong number
8 is an Armstrong number
9 is an Armstrong number
153 is an Armstrong number
370 is an Armstrong number
371 is an Armstrong number
407 is an Armstrong number
1634 is an Armstrong number
8208 is an Armstrong number
9474 is an Armstrong number

In [ ]:
#6.Write a Python Program to Find the Sum of Natural Numbers?
def sum_nat():
  n=int(input())
  sum=0
  for i in range(n+1):
    sum=sum+i
  return sum
sum_nat()

10

55